In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('./data/raw/monday.csv', sep=';', index_col=0, parse_dates=True)

In [58]:
df.head(40)

                     customer_no  location
timestamp
2019-09-02 07:03:00            1     dairy
2019-09-02 07:03:00            2     dairy
2019-09-02 07:04:00            3     dairy
2019-09-02 07:04:00            4     dairy
2019-09-02 07:04:00            5    spices
2019-09-02 07:04:00            6    spices
2019-09-02 07:04:00            7    spices
2019-09-02 07:04:00            8     fruit
2019-09-02 07:05:00            1  checkout
2019-09-02 07:05:00            5  checkout
2019-09-02 07:05:00            6     dairy
2019-09-02 07:05:00            7    drinks
2019-09-02 07:06:00            2  checkout
2019-09-02 07:06:00            3  checkout
2019-09-02 07:06:00            9     dairy
2019-09-02 07:06:00           10     fruit
2019-09-02 07:06:00           11    drinks
2019-09-02 07:06:00           12    spices
2019-09-02 07:06:00           13     dairy
2019-09-02 07:06:00           14     fruit
2019-09-02 07:07:00            8  checkout
2019-09-02 07:07:00           12    drinks
2019-09-02 07:07:00           15    spices
2019-09-02 07:07:00           16     dairy
2019-09-02 07:08:00            4  checkout
2019-09-02 07:08:00           10  checkout
2019-09-02 07:08:00           11  checkout
2019-09-02 07:08:00           15     fruit
2019-09-02 07:09:00            7    spices
2019-09-02 07:09:00           14  checkout
2019-09-02 07:09:00           16    spices
2019-09-02 07:10:00           12  checkout
2019-09-02 07:11:00            7     fruit
2019-09-02 07:11:00           16  checkout
2019-09-02 07:11:00           17     fruit
2019-09-02 07:12:00            9     fruit
2019-09-02 07:12:00           15  checkout
2019-09-02 07:12:00           18     fruit
2019-09-02 07:12:00           19    spices
2019-09-02 07:12:00           20    drinks

In [57]:

resDF = df.groupby('customer_no').resample('1min').ffill()
resDF.head(20)

                                 customer_no  location
customer_no timestamp
1           2019-09-02 07:03:00            1     dairy
            2019-09-02 07:04:00            1     dairy
            2019-09-02 07:05:00            1  checkout
2           2019-09-02 07:03:00            2     dairy
            2019-09-02 07:04:00            2     dairy
            2019-09-02 07:05:00            2     dairy
            2019-09-02 07:06:00            2  checkout
3           2019-09-02 07:04:00            3     dairy
            2019-09-02 07:05:00            3     dairy
            2019-09-02 07:06:00            3  checkout
4           2019-09-02 07:04:00            4     dairy
            2019-09-02 07:05:00            4     dairy
            2019-09-02 07:06:00            4     dairy
            2019-09-02 07:07:00            4     dairy
            2019-09-02 07:08:00            4  checkout
5           2019-09-02 07:04:00            5    spices
            2019-09-02 07:05:00            5  checkout
6           2019-09-02 07:04:00            6    spices
            2019-09-02 07:05:00            6     dairy
            2019-09-02 07:06:00            6     dairy

In [15]:
cust1 = df.loc[df['customer_no'] == 1]
cust1

                     customer_no  location
timestamp
2019-09-02 07:03:00            1     dairy
2019-09-02 07:05:00            1  checkout

In [40]:
cust_group = df.groupby('customer_no').shift(-1)
cust_group

                     location next_loc
timestamp
2019-09-02 07:03:00  checkout    dairy
2019-09-02 07:03:00  checkout    dairy
2019-09-02 07:04:00  checkout    dairy
2019-09-02 07:04:00  checkout    dairy
2019-09-02 07:04:00  checkout   spices
...                       ...      ...
2019-09-02 21:49:00       NaN      NaN
2019-09-02 21:49:00       NaN      NaN
2019-09-02 21:49:00       NaN      NaN
2019-09-02 21:50:00       NaN      NaN
2019-09-02 21:50:00       NaN      NaN

[4884 rows x 2 columns]

In [41]:
df['next_loc'] = cust_group['location']

In [42]:
df.head(20)

                     customer_no  location  next_loc
timestamp
2019-09-02 07:03:00            1     dairy  checkout
2019-09-02 07:03:00            2     dairy  checkout
2019-09-02 07:04:00            3     dairy  checkout
2019-09-02 07:04:00            4     dairy  checkout
2019-09-02 07:04:00            5    spices  checkout
2019-09-02 07:04:00            6    spices     dairy
2019-09-02 07:04:00            7    spices    drinks
2019-09-02 07:04:00            8     fruit  checkout
2019-09-02 07:05:00            1  checkout       NaN
2019-09-02 07:05:00            5  checkout       NaN
2019-09-02 07:05:00            6     dairy    spices
2019-09-02 07:05:00            7    drinks    spices
2019-09-02 07:06:00            2  checkout       NaN
2019-09-02 07:06:00            3  checkout       NaN
2019-09-02 07:06:00            9     dairy     fruit
2019-09-02 07:06:00           10     fruit  checkout
2019-09-02 07:06:00           11    drinks  checkout
2019-09-02 07:06:00           12    spices    drinks
2019-09-02 07:06:00           13     dairy    spices
2019-09-02 07:06:00           14     fruit  checkout